html{
  background-color: pink;
  background-image: url(assets/test.gif);
  background-repeat: no-repeat;
  background-size: 140%;
}

#logo{
  position: absolute;
  left: 50%;
  top: 2em;
  margin-left: -2.5em;
  width: 5em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#title{
  width: 75em;
  top: 50%;
  margin-top: -13em;
  left: 50%;
  margin-left: -38.4em;
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#main{
  position: absolute;
  left: 50%;
  margin-left: -13.5em;
  top: 50%;
  margin-top: -15.5em;
  height: 35em;
  border: 2px solid black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.links{
  padding-left:
  text-align: center;
  color: white;
  background-color: transparent;
  border: 2px;
  position: relative;
  z-index: +1;
  height: 1em;
}
