html{
  background-color: pink;
  background-image: url(assets/test.gif);
  background-repeat: repeat;
  background-size: 180%;
}

#braces,#mouth{
  position: absolute;
  left: 50%;
  top: 2em;
  margin-left: -2.5em;
  width: 5em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all.2s ease-in-out;
}

#back:hover,#for:hover{
  transform: scale(1.17);
}
#links1,#links2{
  position: absolute;
  left: 50%;
  top: 3.5em;
}
#links1{
  margin-left: -10em;
}
#links2{
  margin-left: 3.2em;
}
#title{
  width: 85%;
  top: 50%;
  margin-top: -15em;
  left: 50%;
  margin-left: -43.5%;
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#main{
  position: absolute;
  left: 50%;
  margin-left: -13.5em;
  top: 50%;
  margin-top: -15.5em;
  height: 35em;
  border: 2px solid black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.dot{
  position: absolute;
  left: 50%;
  margin-left: -6em;
  width: 12em;
  top: 90%;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#slideshow{
  align-items: center;
  width: 50em;
  position: absolute;
  height: 25em;
  top: 50%;
  margin-top: -12.5em;
  left: 50%;
  margin-left: -25em;
}

.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-left: 5px solid #f9e8f3;
  border-top: 5px solid #e8eff9;
  border-right: 5px solid #e8eff9;
  border-bottom: 5px solid #f9e8f3;
  /*border-radius: 6px;*/
  display: none;
  height:25em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#back,#for{
  position: absolute;
  width: 3em;
  margin-top: -1.5em;
  margin-left: -1.5em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all.2s ease-in-out;
}

#back{
  top: 50%;
  left: 25%;
}

#for{
  top: 50%;
  left: 75%;
}

.realdot{
  position: absolute;
  width: 12em;
  height: 3.5em;
  left: 50%;
  margin-left: -6em;
  top: 91%;
}

.dotreal{
  border: 1px solid black
  width: 4em;
  height: 3.5em;
}

#two{
  position: relative;
  left: 4em;
  top: -3.6em;
}
#three{
  position: relative;
  left: 8em;
  top: -7.3em;
}

a.t:link {color: #ffffff; text-decoration: none;}
a.t:visited {color: #ffffff; text-decoration: none;}
/*a.t:hover {color: #7b87b1; text-decoration: none;}*/
a.t:hover {color: #a27b89; text-decoration: none;}
a.v:link {color: #ffffff; text-decoration: none;}
a.v:visited {color: #ffffff; text-decoration: none;}
a.v:hover {color: #a27b89; text-decoration: none;}
a.s:link {color: #ffffff; text-decoration: none;}
a.s:visited {color: #ffffff; text-decoration: none;}
a.s:hover {color: #a27b89; text-decoration: none;}
a.i:link {color: #ffffff; text-decoration: none;}
a.i:visited {color: #ffffff; text-decoration: none;}
a.i:hover {color: #a27b89; text-decoration: none;}
