html{
  background-color: pink;
  background-image: url(assets/test.gif);
  background-repeat: no-repeat;
  background-size: 200%;
}

img{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
    overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
    z-index: 10;
}
#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -100px;
}

#braces,#mouth{
  position: absolute;
  left: 50%;
  top: 2em;
  margin-left: -2.5em;
  width: 5em;
  transition: all.2s ease-in-out;
}
#braces:hover,#mouth:hover{
  transform: scale(1.05);
}

#posmark{
  position: absolute;
  left: 50%;
  top: 2.7em;
  margin-left: -2.5em;
  width: 5em;
  height: 5em;
}
#gram{
  position: relative;
  left: 3em;
  width: 1.8em;
}
#twit{
  position: relative;
  left: -1.5em;
  top: -1em;
  width: 2em;
}

#title{
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

#textbox {
  position: absolute;
  background-color: rgba(249, 231, 242, 0.95);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 20em;
  max-height: 25em;
  color: black;
  border: 5px solid #e8eff9;
  padding: .5rem;
  text-align: center;
}

img.photo:empty{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  border-left: 5px solid #f9e8f3;
  border-top: 5px solid #e8eff9;
  border-right: 5px solid #e8eff9;
  border-bottom: 5px solid #f9e8f3;
  display: none;
}
@media screen and (orientation: portrait) {
  img.photo { max-width: 45%; }
}
@media screen and (orientation: landscape) {
  img.photo { max-height: 45%; }
}

#back,#for{
  position: absolute;
  width: 6em;
  transition: all.2s ease-in-out;
}
#back{
  top: 50%;
  left: 1%;
}
#for{
  top: 50%;
  right: 1%;
}
#back:hover,#for:hover{
  transform: scale(1.05);
}
#back:active,#for:active{
  transform: scale(.95);
}

.dot{
  position: absolute;
  left: 50%;
  margin-left: -5em;
  width: 10em;
  bottom: 10px;
  margin-top: -1em;
}
.realdot{
  position: absolute;
  width: 9em;
  height: 3em;
  left: 50%;
  margin-left: -4.5em;
  bottom: 10px;
}
.dotreal{
  width: 3em;
  height: 3em;
}

#two{
  position: relative;
  left: 3em;
  top: -3em;
}
#three{
  position: relative;
  left: 6em;
  top: -6em;
}
