
.container--project {
    padding: 4em 3em 5em 3em;
    overflow: hidden;
}

.medmedtext--project {
    margin-bottom: 2rem;
}
.notsmalltext--project {
    margin: 2rem 0 4rem 1rem;
    line-height: 1.5em;
    font-size: 3rem;
}
