.container--about {
    margin: 4em 3em 3em 3em;
    overflow: hidden;
}

.drawing {
    height: 50vh;
    position: fixed;
    bottom: 0;
    right: 5px;
}

.medmedtext--about {
    font-size: 4vw;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.about-links {
    line-height: 1.4em;
}

.about-links a {
    margin-bottom: 0.3rem;
}

@media screen and (max-width: 640px) {
    .drawing {
        padding-left: 10vw;
        max-width: 90vw;
        display: none;
    }
}
