@import "../../variables.scss";

.container--about {
    margin: 8em 3em 5em 3em;
    overflow: hidden;
}

.drawing {
    height: 80vh;
    position: fixed;
    bottom: 0;
    right: 5px;
    animation: popUp 1200ms linear;
}

.medmedtext--about {
    font-size: 4vw;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.about-links {
    line-height: 1.4em;
}

.about-links a {
    margin-bottom: 0.3rem;
}

@media screen and (max-width: 640px) {
    .drawing {
        padding-left: 10vw;
        max-width: 90vw;
        display: block;
    }
}

@keyframes popUp {
    0% {
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    75% {
        visibility: visible;
        opacity: 100;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    95% {
        -webkit-transform: translate3d(0, -2%, 0);
        transform: translate3d(0, -2%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}