.container {
  margin: 4em 3em 3em 3em;
  overflow: hidden;
}

.drawing {
  height: 50vh;
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
}

.about-links{
	line-height: 1.4em;
}

.about-links a {
	margin-bottom: .3rem;
}