@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
  font-family: Inconsolata, serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: calc(12px + .75vw);
  text-transform: lowercase;
}

body {
    background-color: #fff;
    margin: 0px;
    overscroll-behavior: none;
}

.navigation {
  width: 100vw;
  /* border-bottom: black 1px solid; */
  padding: 1rem;
  background-color: inherit;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 3rem;
  display: flex;
  justify-content:space-between;
}

.navigation div:last-child{
  display: flex;
  justify-content: flex-end;
}
.navigation a:not(:last-child) {
  margin-right: 1rem;
}

.navigation a, .bottom a {
  text-decoration: none;
  color: black;
}

.navigation a:hover, .bottom a:hover {
  color: red;
}

.bottom {
  width: 100vw;
  padding: 1rem;
  border-top: black 1px solid;
  background-color: inherit;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
