.container {
  margin: 4em 3em 3em 3em;
  overflow: hidden;
}

.mediumtext {
  font-size: 20vw;
}

.item {
  display: flex;
}

.item img {
}

.item .description {
}

.item .description button {
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

.item .description button:active {
  color: var(--background-color); 
  background-color: var(--text-color);
}

.item .description button:focus {
  outline: 0;
}

.item .description .horizonatal-buttons {
  display: flex;
}

.item .description div:not(:first-of-type) button {
  border-top: 0 solid #000;
}

.item .description .horizonatal-buttons button:not(:last-of-type) {
  border-right: 0px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 3.5rem;
  background-color: rgba(#000, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 3.5rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker .ticker__item {
  display: inline-block;
  padding: 0 1rem;
  color: var(--text-color);
}
