.container { 
  margin: 4em 3em 3em 3em;
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  /* border-bottom: 1px solid #000; */
}

.item h1 {
  margin-top: 0;
}

.item .image {
  min-width: 40vw;
  max-width: 80vw;
  max-width: 1000px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.item .image img {
  width: 100%;
  /* border: 1px solid black; */
}

.item .image-previews {
  display: flex;
}

.item .image-previews div {
  margin: 10px 10px 0 0;
}

.item .image-previews div:last-child {
  margin: 10px 0 10px 0;
}

/* .item .image-previews .img-prev {
  transition: all 100ms linear;
}

.item .image-previews .img-prev:hover {
  
} */

.item .description {
  display: block;
}

@media screen and (max-width: 640px) {
  .item {
    flex-direction: column;
    margin-bottom: 3vh;
  }
  .item:last-of-type {
    margin-bottom: calc(1vh + 3.5rem);
  }
  .item h1 {
    margin-top: 0;
  }
  .right-pic {
    flex-direction: column-reverse;
  }
}

.item .description .not-a-button {
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
}

.item .description button {
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

.item .description button:active {
  color: var(--background-color); 
  background-color: var(--text-color);
}

.item .description button:focus {
  outline: 0;
}

.item .description .horizonatal-buttons {
  display: flex;
}

.item .description div:not(:first-of-type) button {
  border-top: 0 solid #000;
}

.item .description .horizonatal-buttons button:not(:last-of-type) {
  border-right: 0px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
  height: 3.5rem;
  background-color: rgba(#000, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 3.5rem;
  line-height: 3.5rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker .ticker__item {
  display: inline-block;
  padding: 0 1rem;
  color: var(--text-color);
}