.container {
  margin: 4em 3em 3em 3em;
  overflow: hidden;
}

.projects li {
  margin-bottom: .2rem;
}

.placeholder {
  font-size: 7vw;
}

.preview {
  overflow: hidden;
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: flex-end;
  /* width: 70vw; */
  /* border: 1px solid; */
}

.preview img {
  min-width: 100%;
  height: 100%;
  /* margin: auto; */
}