.image-container {
    margin: auto;
    &:nth-child(even) {
        margin: auto;
    }
}

.image {
    width: 100%;
    height: 0;
    border: solid 2px;
}

.image--loaded {
    height: auto;
    position: relative;
    transition: all 1s;
}
