@import "../../variables.scss";

.logo {
    height: 1.5rem;
    width: 1.5rem;
    transition: 200ms;
    fill: $text-color;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.logo:hover {
    transform: translatex(0.35em);
    cursor: pointer;
}
