@import "../../variables.scss";

.container--work {
    margin: 4em 3em 3em 3em;
    overflow: hidden;
}

.projects {
    margin: 5vh 0;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 1fr;
    .project {
        padding: 1rem 1rem 0 1rem;
        font-size: 2rem;
        a {
            // border: 2px solid black;
            // padding: .3em;
        }
        b {
            font-weight: 800;
        }
        &__description {
            font-size: 1.5rem;
            margin: .5em .5em 0 .5em;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 1em;
            &__blurb {
                text-align: left;
            }
            &__stack {
                font-size: .5em;
                &__span {
                    display: inline-block;
                    border: 2px solid black;
                    padding: .33em;
                    margin: .33em;
                    &--dev {

                    }
                    &--des {
                        // border-radius: 10px;
                    }
                }
            }
        }
    }
}
