@import "../../variables.scss";

.container--work {
    margin: 4em 3em 3em 3em;
    overflow: hidden;
}

.projects li {
    margin-bottom: 0.5em;
    color: $text-color;
}

.projects li a {
    /* padding-bottom: .05em; */
    text-indent: 0em;
}

.filter::after {
    content: ".";
}

.preview {
    overflow: hidden;
    height: calc(100vh - 10rem);
    display: flex;
    justify-content: flex-end;
}

.preview img {
    min-width: 100%;
    height: 100%;
}

.projects {
    font-size: 2.5rem;
}

// .personal::after {
//   color: red;
// }

// .personal::before {
//   color: red;
// }

// .paid::after {
//   color: blue;
// }

// .paid::before {
//   color: blue;
// }

// .unfinished::before {
//   color: yellow;
// }

// .unfinished::after {
//   color: yellow;
// }

.project-description {
    padding: 0px;
    text-align: right;
}

.project img {
    width: 100%;
    border: 1px solid black;
}
